.main-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: right;
}

.title {
  text-align: left;
}

.config-lable {
  margin-right: 5px;
}

.container {
  display: flex;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
}

.center {
  text-align: center;
  align-items: center;
}

.success {
  margin: 0 10px;
  color: green;
}

input,
textarea,
select {
  border: 1px solid #d0d7de;
  border-radius: 5px;
  padding: 0 5px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.2em 0;
  line-height: 1.2;
}

#root {
  margin: 20px 20px;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f0;
}