.requirement-block {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 0;
}

.generated-block {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px 0;
}

.markdown-container {
    height: 460px;
    overflow: auto;
    border: 1px solid #000;
}

.markdown-content {
    padding: 5px;
}