.requirement-block {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 10px;
}

.generated-block {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
}

.markdown-container {
    height: 460px;
    overflow: auto;
    border: 1px solid #000;
}

.markdown-content {
    padding: 5px;
}